

.Title{
    padding: 10px;
    font-size: 40px;
    display: block;
    text-align: center;
}

.center{
    text-align: center;
}

.High_Media{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 25px; 
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;

    border: 10px;
    border-radius: 5px;
    padding-right:5px;
    padding-left:5px;
    align-items:flex-start;
}

.Media_Title{
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    padding-bottom: 50px;

}

.Examples{
    font-size: 25px;

}




.Media_Platform{
    display: flex;

    flex-flow: column wrap;
    align-content: flex-start;
}

.first{
    display: flex;

    flex-flow: column wrap;
    align-content: flex-start;
    text-indent: 25px;
}

.second{
    display: flex;

    flex-flow: column wrap;
    align-content: flex-start;
    text-indent: 50px;
}

.third{
    display: flex;

    flex-flow: column wrap;
    align-content: flex-start;
    text-indent: 75px;
}

.Sound{
    background-color: #5DADE2;
}

.Text{
    background-color: #AED6F1;
}

.Still_Images{
    background-color: hsl(0, 0%, 90%);
}

.Games{
    background-color: #F1948A;
}

.Moving_Images{
    background-color: #E74C3C ;
}

.Intro{
    background-color: rgb(31, 31, 95);
    color: rgba(255, 255, 255, 0.879);
    border-radius: 25px;
    padding: 25px;
}

.HeadShot {
    height: 50vmin;
    display: flex;

    margin: auto;

  }